@charset "UTF-8";
/*Paleta de colores*/
/*Tamaños de pantalla*/
/*Tamaños de fuente*/
/*TAMAÑO DE IMAGENES*/
/*{
    margin: 0;
    padding: 0;
}*/
html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/patitas.png);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/*
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
*/
.navbar {
  width: 100%;
  height: 100px;
  margin-bottom: 2px;
  z-index: 3;
}

.nav-link,
.navbar-nav .nav-link.active {
  color: white;
  font-size: 20px;
}
.nav-link:hover,
.navbar-nav .nav-link.active:hover {
  color: #D7050F;
}

.navbar-toggler {
  background-color: rgb(241, 236, 236);
}

.collapse {
  /*background-color: $color-1;*/
  padding-left: 10px;
}

@media (max-width: 768px) {
  .collapse {
    background-color: black;
  }
}
/*logo*/
.pichos {
  display: block;
  margin: 0 auto;
  width: 100px;
  padding: 20px;
}

/*titulos*/
h1 {
  color: #D7050F;
  font-weight: bolder;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 1px 4px #011638;
}

h2 {
  padding: 10px 20px;
}

.botones {
  display: inline-block;
  position: relative;
  color: #011638;
  background: #D7050F;
  font-size: 17px;
  font-weight: 500;
  padding: 16px 24px;
  margin: 20px;
  border: 2px solid #011638;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.botones:before {
  content: "";
  position: absolute;
  background: #011638;
  height: 150px;
  width: 300px;
  border-radius: 50%;
  z-index: -1;
}

.botones:hover {
  color: rgb(241, 236, 236);
}

.botones:before {
  top: 100%;
  left: 100%;
  transition: 0.7s;
}

.botones:hover:before {
  top: -30px;
  left: -30px;
}

.botones:active:before {
  background: rgb(241, 236, 236);
  transition: 0s;
}

@media screen and (min-width: 768px) {
  .botones {
    height: 75px;
    width: 175px;
  }
}
/*todos los footer*/
footer {
  background-color: rgb(39, 36, 36);
  width: 100%;
  font-size: medium;
  padding: 8px;
}

.opciones {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}

.opciones a {
  color: white;
}

.inicio {
  background-image: none;
  background-color: black;
}

.pie {
  background-color: none;
}

main.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 400px;
  margin-top: 2em;
  background-color: rgb(241, 236, 236);
}
main.inicio h1 {
  font-size: 40px;
}
main.inicio h2 {
  font-size: 30px;
}
main.inicio p {
  font-size: 20px;
  padding: 5px;
  padding-bottom: 2em;
  margin: 1em;
}

@media screen and (min-width: 767px) {
  main.inicio {
    width: 1024px;
    height: 700px;
    margin-top: 5em;
    margin: auto;
  }
  main.inicio h1 {
    font-size: 70px;
  }
  main.inicio h2 {
    font-size: 60px;
  }
  main.inicio p {
    font-size: 50px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

@media screen and (min-width: 767px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 350px;
  }
}
.container .box {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 3rem;
}

.container .box:hover .imgBox {
  transform: translate(-5.5rem, -6.5rem);
}

.container .box:hover .content {
  transform: translate(0rem, 0rem);
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox .ada {
  box-shadow: 10px 5px 10px 5px #D7050F;
}

.imgBox .pascal {
  box-shadow: 10px 5px 10px 5px rgb(10, 10, 185);
}

.imgBox img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  resize: both;
}

.content {
  width: 20rem;
  height: 20rem;
  color: white;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  background-color: black;
}

.content h2 {
  display: inline;
  margin: 1rem;
  margin-left: 10px;
  padding: 4px;
}

.content span {
  margin: 1rem;
  font-size: 1.5em;
}

.eje-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
section#fotos{
    grid-area: fotos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*gap: 30px;
}

@media screen and (min-width:768px) {
    section#fotos {
       /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        column-gap: 1rem;
        flex-direction: row;
        width: 600px;
        height: 400px;
    }
}

*/
.fotos {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.fotos img {
  width: 24rem;
  height: 27rem;
  border-radius: 20px;
  box-shadow: 10px 5px 10px 5px #011638;
}

@media screen and (min-width: 768px) {
  .fotos {
    display: flex;
    flex-flow: row wrap;
    max-width: 1024px;
  }
  .fotos img {
    width: 35rem;
    height: 40rem;
    border-radius: 20px;
    box-shadow: 10px 5px 10px 5px #011638;
  }
}
/*section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease ;
}*/
.biografia {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  justify-items: center;
  margin-top: 20px;
  padding: 20px;
}

.cuaderno {
  width: 50%;
  height: auto;
  display: grid;
  grid-template-areas: "anillado papel";
  grid-template-columns: 147px auto;
  margin-bottom: 2em;
}

.anillado {
  grid-area: anillado;
  background-image: url(../img/hoja_anillado.png);
  background-repeat: repeat-y;
}

.papel {
  grid-area: papel;
  background-image: url(../img/hoja_papel.png);
  background-repeat: repeat;
  box-shadow: 10px 5px 5px black;
}

.papel p {
  margin: 1em;
}

.papel img {
  width: 600px;
  height: 634px;
  margin-bottom: 2rem;
  margin-left: 10rem;
}

@media screen and (max-width: 768px) {
  .biografia {
    padding: 5px;
  }
  .cuaderno {
    display: grid;
    grid-template-areas: "papel";
    grid-template-columns: 1fr;
    width: 100%;
  }
  .anillado {
    display: none;
  }
  .biografia img {
    width: 287px;
    height: 300px;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .biografia {
    padding: 5px;
  }
  .cuaderno {
    display: grid;
    grid-template-areas: "papel";
    grid-template-columns: 1fr;
    width: 100%;
  }
}
/*accesorios--> video*/
.advertencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(197, 131, 131);
  border-radius: 20px;
  margin: auto;
  margin-top: 2em;
}
.advertencia p {
  color: black;
  text-align: center;
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  .advertencia {
    max-width: 1024px;
  }
}
.cuidados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
.cuidados iframe {
  padding: 5px;
  width: 315px;
  height: 315px;
  border-radius: 20px;
}
.cuidados p {
  color: #011638;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  padding: 5px;
}

@media screen and (min-width: 1200px) {
  .cuidados iframe {
    width: 600px;
  }
}
.tarjetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  gap: 3rem;
}
.tarjetas .carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

@media screen and (min-width: 768px) {
  .tarjetas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
#carouselAccesorios1, #carouselAccesorios3, #carouselAccesorios2 {
  background-color: rgb(241, 236, 236);
  border: solid 1px;
  border-radius: 20px;
  box-shadow: 10px 5px 10px 5px #011638;
  max-width: 30rem;
  max-height: 50rem;
  color: #011638;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  padding: 5px;
}

.carousel-inner {
  height: 32rem;
}
.carousel-inner img {
  height: 28rem;
  margin-top: 3rem;
  border-radius: 20px;
}

/*
@media screen and (min-width:2500) {
    .carousel-inner img{
        height: 35vh;
    }
}*/
.carouselExampleFade {
  width: 20rem;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}

/*.carousel-inner {

    overflow: hidden;
}*/
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: url(../img/huellas-flechas.png);
  background-color: #D7050F;
  width: 3rem;
  height: 3rem;
  border: solid 3px;
  border-radius: 50%;
  border-color: #D7050F;
  padding-left: 2rem;
}

/*contacto*/
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto div {
  width: 320px;
  padding: 5px;
}
.contacto div p {
  font-size: 20px;
}
.contacto div form {
  border-radius: 20px;
  background-color: #eaeaea;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  width: auto;
  padding: 10px 10px;
}
.contacto div form fieldset {
  display: flex;
  flex-direction: column;
}
.contacto div form fieldset input, .contacto div form fieldset textarea {
  border: 2px solid #011638;
  border-radius: 20px;
  margin-top: 5px;
}
.contacto div form fieldset input {
  height: 30px;
}
.contacto div form fieldset .optgroup {
  font-size: 20px;
}

.mapa {
  width: 300px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .contacto div {
    width: 80%;
    max-width: 1024px;
  }
  .mapa {
    width: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
