@charset "UTF-8";
/*{
    margin: 0;
    padding: 0;
}*/
html {
  font-size: 62.5%;
}

#inicio {
  grid-area: cabecera;
  width: 100%;
  height: 200px;
  /*z-index: 1;*/
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

/*
@media screen and (min-width:768px) {
    .inicio {
        flex-direction: row;
        justify-content: space-between;
    }
}
*/
a {
  text-decoration: none;
}

/*logo*/
.pichos {
  display: block;
  margin: 0 auto;
  width: 100px;
  padding: 20px;
}

/*titulos*/
h1 {
  color: red;
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
}

h2 {
  padding: 10px 20px;
}

/*index*/
#grilla-index {
  display: grid;
  grid-template-areas: "cabecera" "contenido" "footer";
  grid-template-columns: 1fr;
}

body {
  /*grid-area: body;*/
  background-image: url(file:///home/maria/workspace/Coder/workboock/img/patitas.png);
}

section.contenido {
  grid-area: contenido;
  background-color: white;
  background-size: cover;
  width: 450px;
  height: 400px;
  margin: 3rem;
}

/*tarjeta index*/
.contenido__imagen {
  width: 400px;
  background-color: white;
  margin: 2rem;
}

.contenido__introducción {
  color: #011638;
  font-weight: bolder;
  font-size: 2rem;
  padding: 2rem;
}

iframe {
  padding: 10px 200px;
}

/*todos los footer*/
#footer {
  grid-area: footer;
  background-color: rgb(39, 36, 36);
  width: 100%;
  font-size: medium;
  padding: 8px;
}

.opciones {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}

.opciones a {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

/*galeria*/
#grilla-galeria {
  display: grid;
  grid-template-areas: "cabecera" "carousel" "descripcion" "fotos" "footer";
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  #grilla-galeria {
    display: grid;
    grid-template-areas: "cabecera cabecera" "carousel descripcion" "fotos fotos" "footer footer";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 3fr 3fr 100px;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 10px;
  }
}
section#carouselgrid {
  grid-area: carousel;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

section#descripcion {
  grid-area: descripcion;
  display: flex;
  align-items: center;
}

.carousel {
  width: 20rem;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}

section#fotos {
  grid-area: fotos;
  display: flex;
  justify-content: center;
  margin-left: 30%;
}

@media screen and (min-width: 768px) {
  section#fotos {
    /* display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-items: center;
     column-gap: 1rem;*/
    display: flex;
    width: 600px;
    height: 400px;
  }
}
.fotos {
  width: 24rem;
  height: 27rem;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .fotos {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.2s ease;
  }
  section img:hover {
    cursor: crosshair;
    width: 24rem;
    opacity: 1;
    /*filter: contrast(120%);*/
  }
}
/*section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease ;
}*/
.biografia {
  font-size: 2em;
  font-weight: bold;
}

/*accesorios--> video*/
.cuidados__tex {
  position: absolute;
  top: 25rem;
  left: 80rem;
  color: #011638;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
}

/*contacto*/
.contacto {
  width: 500px;
  padding: 10px 10px;
  max-width: 100%;
}

.mapa {
  width: 400px;
  padding: 10px 10px;
}

/*# sourceMappingURL=styles.css.map */
