/*accesorios--> video*/
.advertencia{
    background-color: rgb(197, 131, 131);
    border-radius: 30%;

}

.mensaje{
    color: black;
    text-align: center;
}

.cuidados__tex{
    position: absolute;
    top: 25rem;
    left: 80rem;
    color:#011638;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    
}