/*accesorios--> video*/
.advertencia{
    @include estructura;
    background-color: rgb(197, 131, 131);
    border-radius: 20px;
    margin: auto;
    margin-top: $bottom;

    
    p{
        color: $color-1;
        text-align: center;
        font-size: $icono;
    
    }

}
@media screen and (min-width:$desktopXG) {
    .advertencia{
    max-width: $desktop;
    }
}


.cuidados{
    @include estructura;
    margin-bottom: $bottom;

    iframe{
        padding: 5px;
        width: 315px;
        height: 315px;
        border-radius: 20px;
    }
    p{
        color:#011638;
        font-weight: bolder;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2rem;
        padding: $left;
    }
}

@media screen and (min-width:$tablet){
    
    .cuidados iframe{
        width: 500px;
    }
}
@media screen and (min-width:$desktop){
    
    .cuidados iframe{
        width: 600px;
    }
}

.item-group {
    --xyz-translate-y: -350%;
    --xyz-ease: cubic-bezier(0.5, -1.5, 0.5, 1.5);
}

.tarjetas .item-group{
    @include estructura;
    margin-bottom: $bottom;
    gap: 3rem;

    .carousel{

        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        
    }
}
@media screen and (min-width: $tablet) {
    .tarjetas .item-group{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

#carouselAccesorios1{
    background-color: $color-4;
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 10px 5px 10px 5px $color-5;
    max-width: 30rem;
    max-height: 50rem;
    color:$color-5;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    padding: $left;
}

#carouselAccesorios2{
    @extend #carouselAccesorios1 ;
}

#carouselAccesorios3{
    @extend #carouselAccesorios1 ;
}

.carousel-inner{
    height: 32rem;

    img{
        height: 28rem;
        margin-top: 3rem;
        border-radius: 20px;
    }

}

.carouselExampleFade{
    width: 20rem;
    padding-left: 20px;
    display: flex;
    justify-content: center;

}


.carousel-control-prev-icon, .carousel-control-next-icon  {
    background-image: url(../img/huellas-flechas.png);
    background-color: $color-3;
    width: 3rem;
    height: 3rem;
    border: solid 3px;
    border-radius: 50%;
    border-color: $color-3;
    padding-left: 2rem ;
}
