.biografia {
    @include estructura;
    font-size: 2em;
    font-weight: bold;
    //display: flex;
    //flex-direction: column;
    justify-items: center;
   // align-items: center;
    margin-top: 20px;
    padding: 20px;
}


.cuaderno{
    width: 50%;
    height: auto;
    display: grid;
    grid-template-areas:
    "anillado papel";
    grid-template-columns: 147px auto;
    margin-bottom: 2em;

}

.anillado {
    grid-area: anillado;
    background-image: url(../img/hoja_anillado.png);
    background-repeat: repeat-y;
}
.papel {
    grid-area: papel;
    background-image: url(../img/hoja_papel.png);
    background-repeat: repeat;
    box-shadow: 10px 5px 5px black;
}

.papel p{
    margin: 1em;
}


.papel img{
    width: 600px;
    height: 634px;
    margin-bottom: 2rem;
    margin-left: 10rem;
}


@media screen and (max-width:$tablet) {
    .biografia{
        padding: 5px;
        
    }
    
    .cuaderno{
        display: grid;
        grid-template-areas: 
        "papel";
        grid-template-columns:1fr;
        width: 100%;
    }

    .anillado{
        display: none;
    }
    .biografia img {
        width: 287px;
        height: 300px;
        margin-left: 1rem;
    }
}

@media screen and (max-width:$desktop) {
    .biografia{
        padding: 5px;
        
    }
    .cuaderno{
        display: grid;
        grid-template-areas: 
        "papel";
        grid-template-columns:1fr;
        width: 100%;
    }
}
