/*contacto*/
.contacto{
    border-style: outset outset solid solid;
    border-radius: 20px ;
    background-color: #eaeaea;
    width: 500px;
    padding:10px 10px;
    max-width: 100%;
}
.mapa{
    width: 400px;
    padding: 10px 10px;
}