/*contacto*/
.contacto{
    @include estructura;
}
.contacto div{
        width: 320px;
        padding: 5px;

        p{
            font-size: $icono;
        }

        form {
        border-radius: 20px ;
        background-color: #eaeaea;
        box-shadow: 0px 15px 20px rgba( 0, 0, 0, .2);
        width: auto;
        padding:10px 10px;

            fieldset{
                display: flex;
                flex-direction: column;
                
                input, textarea{
                    border: 2px solid $color-5;
                    border-radius: 20px;
                    margin-top: 5px;
                }
                input{
                    height: 30px;
                }
                .optgroup{
                    font-size: $icono;
                }

            }
        }
    }

.mapa{
    width:100%;
    padding: 10px;
    border-radius: 20px;

}

@media screen and (min-width: $tablet) {

    .contacto div{
        width: 80%;
        max-width: $desktop;
    }

    .mapa{
        width: 400px;
    }
}
