
.eje-galeria{
    @include estructura;
}
/*
section#fotos{
    grid-area: fotos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*gap: 30px;
}

@media screen and (min-width:768px) {
    section#fotos {
       /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        column-gap: 1rem;
        flex-direction: row;
        width: 600px;
        height: 400px;
    }
}

*/
.fotos {
    margin: $bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    img{
        width: 24rem;
        height: 27rem;
        border-radius: 20px;
        box-shadow: 10px 5px 10px 5px $color-5;
    }
    

}

@media screen and (min-width:$tablet) {
    .fotos {
        display: flex;
        flex-flow: row wrap;
        max-width: $desktop;
        img{
            width: 35rem;
            height: 40rem;
            border-radius: 20px;
            box-shadow: 10px 5px 10px 5px $color-5;
        }
    }
}

/*section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease ;
}*/

