
.eje-galeria{
    @include estructura;
}

.fotos {
    margin: $bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    img{
        width: 24rem;
        height: 27rem;
        border-radius: 20px;
        
    }
    

}

@media screen and (min-width:$tablet) {
    .fotos {
        display: flex;
        flex-flow: row wrap;
        max-width: $desktop;
        img{
            width: 20rem;
            height: 26rem;
            border-radius: 20px;
        }
    }
}
