
.inicio{
    background-image: none;
    background-color: $color-1;
}

//REVISAR
.pie{
    background-color: none;
}

main.bienvenidos{
    @include estructura;
    width: 100%;
    height: 400px;
    margin-top: $bottom;
    background-color: $color-4;
    border-radius: 20px;

    h1{
        font-size: $icono-chico;
    }
    h2{
        font-size: 30px;
    }

    p{
        font-size:$icono;
        padding:$left;
        padding-bottom: 2em;
        margin: 1em;
    }
}
@media screen and (min-width: 767px){
    main.bienvenidos{

    height: 700px;
    margin-top:5em;
    margin: auto;

    h1{
        font-size: 70px;
    }
    h2{
        font-size: 60px;
    }

    p{
        font-size:50px;
    }
    }

}
@media screen and (min-width: $desktop){
    main.bienvenidos{
    width: $desktop;
    }
}

.container{
    @include estructura;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;


}

@media screen and (min-width: 767px){
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 350px;
    }

}

.container .box{
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
}

.container .box:hover .imgBox{
    transform: translate(-5.5rem, -6.5rem);
    
}
.container .box:hover .content{
    transform: translate(0rem, 0rem);
}
.imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
.imgBox .ada{
    box-shadow: 10px 5px 10px 5px $color-3;
}
.imgBox .pascal{
    box-shadow: 10px 5px 10px 5px rgb(10, 10, 185);
}

.imgBox img{
    
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    resize: both;
}
.content{
    width:20rem;
    height: 20rem;
    color: $color-2;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    background-color: black;

}
.content h2{
    display: inline;
    margin: 1rem;
    margin-left: 10px;
    padding: 4px;
}
.content span{
    margin: 1rem;
    font-size: 1.5em;
}

