
.inicio{
    background-image: none;
    background-color: $color-1;
}

//REVISAR
.pie{
    background-color: none;
}

main.inicio{
    @include estructura;
}

.container{
    //position: relative;
    @include estructura;
    justify-content: center;
    width: 100%;
    //background-image: linear-gradient( 177deg, $color-3, $color-5);
    margin-bottom: 2rem;


}

@media screen and (min-width: 767px){
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 350px;
        //background-image: linear-gradient(to right, $color-3, $color-5);
    }

}

.container .box{
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
}

.container .box:hover .imgBox{
    transform: translate(-5.5rem, -6.5rem);
    
}
.container .box:hover .content{
    transform: translate(0rem, 0rem);
}
.imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
.imgBox .ada{
    box-shadow: 10px 5px 10px 5px $color-3;
}
.imgBox .pascal{
    box-shadow: 10px 5px 10px 5px rgb(10, 10, 185);
}

.imgBox img{
    
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    resize: both;
}
.content{
    width:20rem;
    height: 20rem;
    color: $color-2;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    background-color: black;

}
.content h2{
    display: inline;
    margin: 1rem;
    margin-left: 10px;
    padding: 4px;
}
.content span{
    margin: 1rem;
    font-size: 1.5em;
}


/*
.ada-pascal{
margin: 2rem;
padding: 2rem;
gap: 2rem;
}

.ada-pascal img{
    width: $img-movile;
    height: $img-movile;
}


/*
.contenido{
    background-color: $color-2;
    background-size: cover;
    width: 320px;
    height: 400px;
    margin: 3rem;
}

/*tarjeta index
.contenido__imagen{
    width: $img-movile;
    background-color: $color-2;
    margin: 2rem;

    
}

.contenido__introducción{
    @extend.biografia;
    color:#011638;
    font-weight: bolder;
    padding: 2rem;
    

}
*/



