/*Paleta de colores*/
$color-1: black;
$color-2:white;
$color-3:#D7050F;
$color-4:lightgrey;
$color-5:#011638;

/*Tamaños de pantalla*/
$tablet: 768px;
$desktop: 1024px;
$desktopXG: 1200px;

/*Tamaños de fuente*/
$icono: 20px;
$icono-chico: 40px;

//tipo de fuente
$fuentePrincipal: 'Montserrat', sans-serif;