
@import "inicio";
@import "galeria";
@import "biografia";
@import "accesorios";







/*contacto*/
.contacto{
    width: 500px;
    padding:10px 10px;
    max-width: 100%;
}
.mapa{
    width: 400px;
    padding: 10px 10px;
}

